:root {
    --primary: #49E5BF;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

#timer-wrapper {
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-timer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 1px 2px 20px 1px #00000063;
    display: flex;
    justify-content: center;
    transition:all 1s ease;
    align-items: center;
}

#play-timer svg {
    width: 25px;
    height: 25px;
    color: white;
    padding-left: 6px;
}

#counter-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 8px;  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    transition:all 1s ease;
}

#counter-wrapper {
    font-size: 48px;
    font-weight: 800;
}

.timer-counter {
    color: white;
}

.timer-stop {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    transition:all 1s ease;

}
